.wrapper {
    margin: auto;
    /* background: #17183B; */
    background: #17183B fixed center
    url("../../images/mb-bg-fb-29.png") repeat;

    min-height: 100vh;
    overflow: hidden;
    max-width: 1200px;

}