.time-wrap {
    box-sizing: border-box;
    margin: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#time-logout {
    float: right;
    margin: 30px;
}

div .clear {
    clear: both;
}

.timecard {
    margin-top: 100px;
    margin: 30px;
    border: 1px solid grey;
    justify-content: center;
}

.timecard-item {
    padding: 20px;
}

#name {
    float: right;
    margin-top: 20px;
    text-align: right;
}

#date .clear {
    clear: both;
}

ul {
    list-style-type: none;
    margin-right: 100px;
}

li {
    text-decoration-line: underline;

}