.form {    
    margin-top: 100px;
    min-height: 300px;  
    padding-top: 100px;  
    background: #a12e11ee;
  }
  
  .form input {
    display: flex;
    margin: auto;
    margin-bottom: 20px;
    width: 50%;
    background: beige;
    color: black;
    font-size: 18px;
    border-bottom: 1 px;
  }

  .form button {
    display: flex;
    margin: auto;
    background-color: darkslategrey;
    font-size: 18px;
    color: white;
    cursor: pointer;
    margin-bottom: 15px;
  }

  .form button:hover {
    background-color: whitesmoke;
    color: black;
  }
  
  h6{
    margin-top: 10px;
    text-align: center;
    color: goldenrod;
  }

  input :invalid{
    background:white;
  }
  
  .req {padding: 0 30px 0 50px;
  color: whitesmoke;
  max-height: 0;
  transition: 0.28s;
  overflow: hidden;
  color: white;
  font-style: italic;
}